body {
    background-color: #f5f5f5;
    padding: 0;
    font-size: 14px;
    color:#4b4949;
    font-family: 'Roboto Slab', serif;
    padding-top: 94px;
    position: relative;
}

a:hover,a:focus,a:active {
    color:#facd07;
    text-decoration: none;
}


/* Header css starts here */

header {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    width:100%;
    z-index: 2;
}

.headerWrapper {
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #000;
    color: #fff;
}

.menu {
    font-size: 28px;
    padding: 6px;
    cursor: pointer;
}

.logoWrapper {
    margin: auto;
}

.logoWrapper a {
    display: block;
}

.logoWrapper img {
    display: block;
    max-width: 200px;
    height: auto;
}

.sideMenuWrapper {
    background-color: rgba(0,0,0,0.6);
    position:fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 4;
}

.sideMenuWrapper.active {
    display: block;
}

.closeMenu {
    color: #fff;
    display: inline-block;
    font-size: 30px;
    padding: 2px 10px;
    margin: -10px 0 20px -10px;
    cursor: pointer;
}


.menuWrapper {
    background-color: hsl(49, 96%, 50%);
    padding: 20px;
    width: 25%;
    height: 100%;
}

.menuWrapper ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menuWrapper > ul > li {
    display: block;
    margin-bottom: 15px;
}

.menuWrapper > ul > li > a ,
.menuWrapper > ul > li > p{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color:#231f20;
}

.hasDropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.secondLevel {
    margin:4px 0;
    display: none;
}

.secondLevel li{
    padding: 7px 10px 7px 0;
    font-size: 17px;
    color:#231f20;
}

.secondLevel li a ,
.secondLevel li a:hover,
.secondLevel li a:focus {
    color:#000;
}

.menuWrapper .fa-angle-down,
.menuWrapper .fa-angle-up {
    margin : 0 7px;
}

.menuWrapper .fa-angle-down {
    display: block;
}

.menuWrapper .fa-angle-up {
    display: none;
}

.menuWrapper .menuOpen .fa-angle-down {
    display: none;
}

.menuWrapper .menuOpen .fa-angle-down {
    display: block;
}

.menuOpen .secondLevel {
    display: block;
    margin-left: 20px;
}

.bannerWrapper {
    /* height: 300px;
    padding: 60px 0; */
    /* text-align: center; */
    color: #fff;
}

.slider {
    background-size: cover;
    height: calc(100vh - 96px);
}

.slider-1 {
    background-image: url('../images/CopperCliffSmelter.jpg');
}

.slider-2 {
    background-image: url('../images/corporate-update-video.png');
}

.slider-3 {
    background-image: url('../images/DSC01071.jpg');
}

.slider-4 {
    background-image: url('../images/DSC01071.jpg');
}

.slider-content {
    position: absolute;
    top: 140px;
    left: 100px;
}

.slick-prev, .slick-next {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    outline: 0;
    font-size: 0;
}

.slick-prev:focus, .slick-next:focus {
    outline: 0;
}

.slick-prev {
    position: absolute;
    left: 15px;
    z-index: 1;
}

.slick-prev::before {
    content: '\f053';
    font-family: "Font Awesome 5 Free";
    font-weight: normal;
    color: #007dc5 !important;
    font-size: 20px;
}

.slick-next::before {
    content: '\f054';
    font-family: "Font Awesome 5 Free";
    font-weight: normal;
    color: #007dc5 !important;
    font-size: 20px;
}

.slick-next {
    position: absolute;
    right: 15px;
}

.slick-dots {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 145px;
    height: 300px;
    position: absolute;
    top: 155px;
    /* border: 1px solid #007dc5; */
    padding: 0;
    right: 100px;
}

.slick-dots li {
    list-style-type: none;
    position: absolute;
}

.slick-dots li:nth-child(2) {
    left: 62px;
    top: 33px;
}

.slick-dots li:nth-child(1)::after, .slick-dots li:nth-child(2)::after, 
.slick-dots li:nth-child(3)::after, .slick-dots li:nth-child(4)::after,
.slick-prev::before, .slick-next::before {
    color: #fff;
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.slick-dots li:hover {
    cursor: pointer;
}

.slick-dots li:nth-child(1)::after {
    content: 'Au';
}

.slick-dots li:nth-child(2)::after {
    content: 'C';
}

.slick-dots li:nth-child(3)::after {
    content: 'Li';
}

.slick-dots li:nth-child(4)::after {
    content: 'Cu';
}

.slick-dots li:nth-child(3) {
    top: 65px;
    left: -1px;
}

.slick-dots li:nth-child(4) {
    top: 97px;
    left: 62px;
}

.slick-dots li button {
    padding: 5px;    
    width: 40px;
    height: 60px;
    background: #5096d5;
    border: 1px solid #5096d5;
    position: relative;
    font-size: 0;
}

.slick-dots li button:hover, .slick-dots li.slick-active button, .slick-dots li:hover button {
    background-color: #facd07;
    border: 1px solid #facd07;
}

.slick-dots li button:hover::before, .slick-dots li.slick-active button::before,
.slick-dots li:hover button::before {
    border-right: 18px solid #facd07;
}

.slick-dots li button:hover::after, .slick-dots li.slick-active button::after,
.slick-dots li:hover button::after {
    border-left: 18px solid #facd07;
}

.slick-dots li button::before {
    content: '';
    display: block;
    position: absolute;
    border-right: 18px solid #5096d5;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    left: -19px;
    top: 0;
}

.slick-dots li button::after {
    content: '';
    display: block;
    position: absolute;
    border-left: 18px solid #5096d5;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    right: -19px;
    top: 0;
}

button:focus {
    outline: 0;
}



.aboutUs-section {
    border: 1px solid #cdcdcd;
    padding: 60px 0;
}


.aboutusImg {
    display: block;
    max-width:100%;
    height: auto;
}

.aboutUs-section h3 {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 25px;
}


.aboutUs-section p{
    font-size: 16px;
    line-height: 26px;
}

.mapSection {
    position: relative;
    /* max-width:1100px;
    margin: auto; */
}

.mapperImage {
    max-width: 100%;
    margin:0 auto;
}


.mapSection .mapContent img {
    max-width: 300px;
    height: auto;
}

.computer {
    top: 131px;
    left: 393px;
}

.mobile {
    top: 178px;
    left: 533px;
}

.cup {
    top: 342px;
    left: 333px;
}

.mapper {
    border: 1px solid #000;
    background: #007dc5;
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    border-radius: 50%;
}

.mapContent {
    background: #facd07;
    position: fixed;
    width: 300px;
    height: 100%;
    right: 0;
    top: 93px;
    z-index: 1;    
    display: none;

}

.mapContent .mapContent-close {
    position: absolute;
    color: #fff;
    font-size: 20px;
    left: 10px;
    top: 10px;
    padding: 5px;
    cursor: pointer;
}

.map-content-div {
    padding: 15px;
    overflow-y: auto;
    max-height: calc(100vh - 270px);
}

.mapContent.active {
    display: block;
}
.mapContent h2 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 0;
}

.mapContent p {
    margin-bottom: 0;
    color: #007dc5;
}


.keyProjectsWrapper {
    padding: 60px 0;
}

.keyProjectsContainer {
    display: flex;
    flex-direction: row;
}

.singleLine {
    font-size: 24px;
    line-height: 34px;
    width: 20px;
    margin-right: 30px;
    overflow-wrap: break-word;
    text-align: center;
    font-weight: bold;
    color: #facd07;
}

.keyProjectsList {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.keyProjectsList li{
    width:32%;
}


.projectItemContainer {
    width: 94%;
    border: 1px solid #ccc;
    border-radius: 6px;
    text-align: center;
    padding: 20px;
    margin: 0 auto 30px;
}

.projectItemContainer img {
    display: block;
    max-height: 100px;
    width:auto;
    margin: 0 auto 10px;
}

.projectItemContainer h4 {
    font-size: 21px;
    margin-bottom: 10px;
}

.projectItemContainer p {
    line-height: 20px;
    text-align: center;
}

.postSection {
    border:1px solid;
    padding: 60px;

}

.postSection h3 {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 25px;
}

.blogsList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.blogsList li {
    margin-bottom: 10px;
    width:23%;
}

.blogWrapper {
    max-width: 250px;
    margin: auto;
    text-align: center;
}

.blogImg {
    display: block;
    max-width: 100%;
    height: auto;
}

.blogWrapper h5 {
    font-size: 16px;
    line-height: 22px;
    font-style: italic;
    margin: 10px 0;
}

.visionSec {
    padding: 60px 0;
    border-top:10px solid #facd07;
    text-align: center;
}

.visionTitle {
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
}


footer {
    background: #000;
    padding: 25px 0 20px;
}

.footerLogo a {
    display: block;
    padding: 5px;
}

.footerLogo a img {
    display: block;
    max-width: 200px;
    height: auto;
}

.footer-links {
    padding: 0;
    list-style: none;
    margin: 18px 0;
    display: flex;
    align-items: center;
}

.footer-links li {
    padding: 4px 6px;
}

.footer-links li a {
    color:#fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size:12px;
}
.footer-links li a:hover,
.footer-links li a:focus {
    color:#facd07;
}

.footer-links li + li {
    margin-left:10px;
}
